# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.egg-info/
*.egg

# Virtual environment
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/
local_settings.py
*.mo

# Migrations
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
